.title {
    margin-top: 6rem;
    margin-bottom: 3rem;
    font-size: 4rem;
    text-align:center;
}

.about-header {
    margin: 0;
    font-size: 2rem;
}
.about-content {
    padding: 4rem 2rem 2rem;
    display: flex;
    flex-direction: column-reverse;
}
.about-desc {
    font-size: 0.8rem;
    line-height: 140%;
}
.about-image {
    border-radius: 1rem;
    margin: 0 2rem 3rem;
}
.education{
    font-size:2rem;
    margin:3rem auto 1rem;
    
}
.diploma {
    font-family: var(--font-family-display);
    font-size: 1.4rem;
    font-weight:600;
    margin:0 auto 0.2rem;
}
.school{
    font-size:0.8rem;
    font-style: italic;
    margin:0;
}
@media screen and (min-width: 700px) {

    .about-content {
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
    }
    .about-image {
        flex: 1;
        height: 35vw;
        margin:0;
    }

    .about-header {
        font-size: 2.5rem;
    }
    .about-desc {
         margin-top:0.3rem;
        font-size: 14px;
    }
    .education{
        margin:1rem 0 0.2rem;
    }
}
@media screen and (min-width: 1100px) {
    .about-content {
        padding-top: 6rem;
        display: flex;
        justify-content: center;
        margin: auto 12vw;
    }
    .title {
       font-size: 6rem;
        margin-top: 8rem;
        margin-bottom: 5rem;
    }
    .about-text {
        justify-content: left;
    }
    .about-header {
        padding-bottom: 1rem;
    }
    .about-desc {
        line-height: 160%;
    }
    .about-image {
        height: 30vw;
        margin-left:8vw;
    }
    .education{
        margin-top:3rem;
        font-size:2.2rem;
    }
    .diploma {
        font-size:1.6rem;
        margin:1.3rem 0 0.3rem;
    }
    .school {
        font-size:1rem;
    }
}
