.title {
    font-size: 16vw;
    text-align: center;
    margin: 5rem 4rem;
}

.about-header {
    margin: 0;
    font-size: 2rem;
}
.about-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
.about-desc {
    font-size: 12px;
    line-height: 140%;
}
.about-image {
    border-radius: 1rem;
}
.quote {
    margin: 0;
    padding: 2rem;
}
@media screen and (min-width: 700px) {
    .title {
        font-size: 14vw;
        margin: 6rem 4rem;
    }
    .about-content {
        flex-direction: row-reverse;
        gap: 1rem;
        justify-content: center;
    }
    .about-image {
        flex: 1;
        height: 30vw;
    }

    .about-header {
        font-size: 2.5rem;
    }
    .about-desc {
        font-size: 14px;
    }
}
@media screen and (min-width: 1100px) {
    .about-content {
        padding-top: 6rem;
        display: flex;
        justify-content: center;
        margin: auto 12rem;
    }
    .title {
        font-size: 12vw;
        margin: 8rem 4rem;
    }
    .about-text {
        justify-content: left;
    }
    .about-header {
        padding-bottom: 1rem;
    }
    .about-desc {
        line-height: 160%;
    }
    .about-image {
        height: 24vw;
    }
}
