.title {
    font-size: 16vw;
    text-align: center;
    margin: 5rem 4rem;
}
.quote {
    margin: 0;
    padding: 2rem;
}
@media screen and (min-width: 700px) {
    .title {
        font-size: 14vw;
        margin: 6rem 4rem;
    }
}
@media screen and (min-width: 1100px) {
    .title {
        font-size: 12vw;
        margin: 8rem 4rem;
    }
}
