.view-all-btn {
    color: #004752;
    font-family: var(--font-family-display);
    font-size: 16px;
    padding: 0.3rem 0.6rem;
    border: 3px solid #004752;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.view-all-btn:hover {
    background-color: #009ab1;
    color: #ecedf5;
    border: 3px solid #009ab1;
    transform: scale(1.05);
}

.code-btn {
    padding: 0.4rem 0.6rem;
    height: fit-content;
    font-family: var(--font-family-body);
    border: 3px solid #004752;
    font-size: 12px;
    color: #004752;
    font-weight: bold;
    border-radius: 24px;
    cursor: pointer;
    background-color: none;
    transition: all 0.2s ease-out;
}
.code-btn:hover {
    color: #ecedf5;
    background-color: #009ab1;
    border: 3px solid #009ab1;
    transform: scale(1.05);
}

@media screen and (min-width: 1100px) {
    .view-all-btn {
        font-size: 24px;
        border-radius: 24px;
        padding: auto 1.5rem;
    }

    .code-btn {
        border: 4px solid #004752;
        margin-right: 10rem;
    }
}
