.view-all-btn {
    color: var(--secondary-200);
    font-family: var(--font-family-display);
    font-size: 16px;
    padding: 0.2rem 0.6rem;
    border: 3px solid var(--secondary-200);
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.view-all-btn:hover {
    background-color: var(--secondary-200);
    color: var(--primary);
    border: 3px solid var(--secondary-200);
    transform: scale(1.05);
}

.code-btn {
    padding: 0.2rem 0.6rem;
    height: fit-content;
    font-family: var(--font-family-body);
    border: 2px solid var(--secondary-200);
    font-size: 12px;
    color: var(--secondary-200);
    font-weight: bold;
    border-radius: 24px;
    cursor: pointer;
    background-color: none;
    transition: all 0.3s ease;
}
.code-btn:hover {
    color: var(--primary);
    background-color: var(--secondary-200);
    border: 3px solid var(--secondary-200);
    transform: scale(1.05);
}
@media screen and (min-width:700px){
    .code-btn {
        font-size:1rem;
        
    }
}
@media screen and (min-width: 1100px) {
    .view-all-btn {
        font-size: 24px;
        border-radius: 24px;
        padding: auto 1.5rem;

    }

    .code-btn {
        font-size:1.2rem;
        padding:0.5rem 1rem;
       
    }
}
