.project-card {
    font-family: var(--font-family-display);
    background-color: white;
    color: #070a0d;
    height: 500px;
    width: 380px;
    font-size: 24px;
    margin: 1rem;
    border: 4px solid #070a0d;
}
.project-img {
    width: 342px;
    height: 348px;
    margin: 1.2rem 1.2rem 0 1.2rem;
}
.title {
    margin-left: 1.2rem;
    margin-top: 0.5rem;
}

.card-link {
    text-decoration: none;
}
