/*====iterations====*/
.mock-img {
    width: 68vw;
}
.band-mock {
    width: 75vw;
}
.mock-band-top,
.mock-band-bottom {
    display: flex;
    gap: 12px;
    overflow-x: auto;
    width: 100%;
}
.mock-band-bottom {
    margin-top: 20px;
    margin-bottom: 2rem;
}
.mock-band-top::-webkit-scrollbar,
.mock-band-bottom::-webkit-scrollbar {
    height: 0;
}
@media screen and (min-width: 700px) {
    .mock-img {
        width: 50vw;
    }
    .band-mock {
        width: 65vw;
    }
}
@media screen and (min-width: 1100px) {
    .mock-img {
        width: 34vw;
    }
    .band-mock {
        width: 70vw;
    }
}
