.homepage {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    margin: 8rem auto 5rem;
    font-size: 6rem;
    line-height: 95%;
}

.disclaimer {
    font-family: var(--font-family-body);
    font-size: 1rem;
    text-align: center;
    margin: auto 1rem 5rem;
}
.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name-logo {
    width: 20%;
}
.last-name,
.last-line {
    margin-left: 4rem;
}
.main {
    background-color: #e6f6f9;
    color: #070a0d;
}
.intro {
    padding: 4rem 1rem;
    font-family: var(--font-family-display);
    font-size: 2rem;
    font-weight: bold;
    margin: auto 1rem;
    text-align: center;
}
.projects-container {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.projects-container::-webkit-scrollbar {
    height: 0;
}

.section-text {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: auto 1rem;
}
.view-all-btn {
    color: #004752;
    font-family: var(--font-family-display);
    font-size: 16px;
    padding: 0.3rem 0.6rem;
    border: 3px solid #004752;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.view-all-btn:hover {
    background-color: #009ab1;
    color: #ecedf5;
    border: none;
    transform: scale(1.05);
}

.feature-section {
    margin-bottom: 4rem;
}

.contact-section {
    background-color: #090d12;
    color: #ecedf5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-header {
    font-family: var(--font-family-display);
    font-weight: bold;
    font-size: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.first-line {
    margin-right: 14rem;
    padding-top: 6rem;
}
.last-line {
    margin-left: 3rem;
}
.contact-btn {
    color: #a9abd1;
    font-family: var(--font-family-display);
    font-size: 24px;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 24px;
    border: 3px solid #44499c;
    margin: 1rem auto 5rem;
}

@media screen and (min-width: 700px) {
    .header {
        font-size: 8.5rem;
    }
    .disclaimer {
        font-size: 20px;
        margin: 2rem 5rem 6rem;
    }
    .intro {
        font-size: 2.5rem;
        margin: auto 4rem;
    }
    .contact-header {
        font-size: 5rem;
    }

    .first-line {
        margin-right: 20rem;
    }
    .last-line {
        margin-left: 8rem;
    }
}

@media screen and (min-width: 1100px) {
    .header {
        font-size: 12rem;
        margin-top: 7rem;
    }
    .last-name {
        margin-left: 12rem;
    }
    .disclaimer {
        margin-top: 0;
    }
    .intro {
        margin: 6rem 14rem;

        font-size: 3.8rem;
    }
    .projects-container {
        justify-content: center;
    }
    .section-text {
        margin: auto 9rem;
    }
    .view-all-btn {
        font-size: 24px;
        border-radius: 24px;
        padding: auto 1.5rem;
    }
    .contact-header {
        font-size: 8rem;
    }
    .first-line {
        margin-right: 32rem;
    }
    .last-line {
        margin-left: 10rem;
    }
    .contact-btn {
        font-size: 32px;
        border-radius: 36px;
        padding: 0.5rem 1.5rem;
        border: 4px solid #44499c;
        margin-bottom: 3rem;
    }
}
