/*=====Palette Styles=====*/
.section-creation{
    padding-bottom:3rem;
}

/*=====iterations======*/
.process-img-moo {
    width: 35vw;
    border-radius: 16px;
    padding: 0;
}
.caption {
    font-size: 13px;
    margin: 0.5rem 0;
}
.process-img-container {
    padding: 0 1rem;
}
.moo-iterations {
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:1rem;
}
/*=====Development=====*/
.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*=====Final product=====*/

.moomoosit {
    display: none;
}
.final-screen{
    width:36vw;
    padding:0.8rem;
}

/*====Check out section====*/

.demo-mobile {
    border-radius: 32px;
    width: 45vw;
    margin: 1rem auto;
    display:flex;
    justify-content:center;
}

/*=====Swatch sizing for better visibility=====*/
@media screen and (min-width: 600px) {
    
    /*===demo===*/
    .test-section {
        display: flex;
        justify-content: space-between;
    }
    .demo-mobile {
        width: 30vw;
    }
}
/*=====Tablet Query=====*/
@media screen and (min-width: 800px) {
   
    /*=====iteration section=====*/
  
    .process-img-moo {
        width: 18vw;

        padding: 0;
    }
    .caption {
        font-size: 13px;
        margin: 0.5rem 0;
    }
    .process-img-container {
        padding: 0;
    }
    .moo-iterations{
        grid-template-columns:1fr 1fr 1fr 1fr;
        gap:1rem;
    }

    /*=====Final product=====*/
    .moomoosit {
        display: block;
        width: 30vw;
    }
    .final-img-container {
        display: flex;
        gap: 0.5rem;
    }
    .final-screen{
        width:24vw;
    }
}

/*=====Desktop Query=====*/
@media screen and (min-width: 1200px) {
 
    /*=====iteration section=====*/
  
    .process-img-moo {
        width: 16vw;

        padding: 0;
    }
    .caption {
        font-size: 14px;
        margin: 0.5rem 0;
    }
    .process-img-container {
        padding: 0 2rem;
    }
    .moo-iterations{
        gap:0rem;
    }

    /*=====Final product=====*/
    .moomoosit {
        width: 25vw;
    }
    /*===demo===*/
    .test-section {
        margin: 3rem 8rem 3rem;
    }
    .demo-mobile {
        width: 20vw;
    }
}
