.hero-image {
    width: 100vw;
    margin-top: 1.5rem;
}
.project-content {
    background-color: #e6f6f9;
    color: #070a0d;
    width: 104%;
    left: -2%;
    position: relative;
    padding-top: 3rem;
}
/*=====Header Styles=====*/
p,
ul {
    font-family: var(--font-family-body);
}

.meta {
    display: flex;
    align-items: baseline;
    font-size: 14px;
}

.role {
    margin-right: 0.5rem;
    font-weight: bold;
    font-size: 20px;
}
.links {
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding-left: 0;
    padding-top: 0.3rem;
    white-space: nowrap;
}
li {
    padding: 0.25em 0;
}

.link {
    color: #8285bd;
}
.link.active {
    color: #ecedf5;
}

h1,
h2,
.role {
    font-family: var(--font-family-display);
}
.project-header {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    justify-content: center;
    margin: 3rem auto;
    max-width: 500px;
}
.project-title {
    margin: 0;
    padding-bottom: 0.4rem;
}
/*=====Section Styles=====*/
.short-desc,
.section-desc {
    margin: 0;
    font-size: 12px;
}
.section-desc {
    padding-bottom: 1rem;
}
.section-bannerImg {
    width: 85vw;
    display: flex;
    margin: 0 auto;
    padding-bottom: 1rem;
}
.main-section {
    padding: 0 1.5rem;
    margin: 0 auto 1rem;
    max-width: 85vw;
}
.section-title {
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem 0 0.5rem 0;
}

/*=====Palette Styles=====*/
.palettes {
    font-family: var(--font-family-body);
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;
}
.color-swatch {
    width: 60px;
    height: 80px;
    color: #071512;
    border-radius: 0.8rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 0.1rem 0.5rem;
}
.swatch2 {
    color: #ecedf5;
}
.palette {
    display: flex;
    gap: 0.2rem;
}

/*=====Font Styles=====*/
.federo {
    font-family: "Federo";
}
.fugaz {
    font-family: "Fugaz one";
}
.font-name {
    font-size: 1.5rem;
    margin: 0;
    text-wrap: nowrap;
}
.font-sample {
    font-size: 52px;
    margin: 0;
    line-height: 90%;
}
.font {
    text-align: center;
}
.fonts {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
/*=====Styles sections=====*/
.styles {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

/*=====Tablet Query=====*/
@media screen and (min-width: 800px) {
    .project-header {
        padding: 1rem 4rem;
        max-width: 800px;
        margin: 4rem auto;
    }
    .project-title {
        font-size: 2.5rem;
    }
    .short-desc {
        font-size: 14px;
        padding-bottom: 1.2rem;
    }
    .links {
        padding-top: 0.2rem;
    }
    li {
        padding-top: 0.38rem;
    }
    .section-title {
        font-size: 2rem;
    }
    .section-desc {
        font-size: 14px;
        padding-top: 0.5rem;
        line-height: 140%;
    }
    .section-bannerImg {
        padding-bottom: 2rem;
    }
}

/*=====Desktop Query=====*/
@media screen and (min-width: 1200px) {
    .project-header {
        padding: 1rem 4rem;
        max-width: 1000px;
        margin: 25vh auto;
    }
    .project-title {
        font-size: 6rem;
    }
    .short-desc {
        font-size: 18px;
        line-height: 150%;
        padding-bottom: 1.2rem;
    }
    .meta {
        font-size: 18px;
    }
    .role {
        font-size: 28px;
    }
    .links {
        padding-top: 1.2rem;
        font-size: 20px;
    }
    li {
        padding-top: 1.05rem;
    }
    .section-title {
        font-size: 52px;
    }
    .section-desc {
        font-size: 18px;
        width: 72%;
    }
}
