.nav-logo {
    width: 40px;
    padding-left: 4px;
}

.nav-bar {
    background-color: #070a0d;
    z-index: 1000;
    font-family: var(--font-family-display);
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: fixed;
    padding: 8px;
    top: 0;
    left: 0;
    width: 100%;
}
.link-img {
    width: 50%;
}
.nav-items {
    font-size: 20px;
    text-align: right;
    margin-top: 0.5rem;
}
.nav-link {
    padding-right: 20px;
    color: #8285bd;
    text-decoration: none;
    transition: color 0.25s ease;
    text-wrap: nowrap;
}
.nav-link:hover {
    color: #54c5d7;
}
.nav-link.active {
    color: #edeef6;
    font-weight: bold;
}
@media screen and (min-width: 800px) {
    .nav-logo {
        width: 50px;
    }
    .nav-items {
        margin-top: 0.6rem;
        font-size: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .nav-logo {
        width: 50px;
        padding-left: 8px;
    }
    .nav-items {
        margin-top: 0.4rem;
        font-size: 32px;
    }
    .nav-link {
        padding-right: 32px;
    }
}
