footer {
    background-color: #070a0d;
    padding: 0.8rem;
    width: 100%;
    margin-left: -0.8rem;
}
.my-info {
    padding: 0 1rem 0.5rem 1rem;
    align-items: center;
}
.img-me {
    width: 60px;
}
.footer-text {
    font-size: 14px;
    font-family: var(--font-family-body);
    text-align: left;
    margin: 0;
    line-height: 1.5;
}
.line {
    height: 2px;
    background-color: #44499c;
    margin: auto 1rem;
}
.social-btns {
    margin: 1rem 1rem 0.5rem 1rem;
    text-align: left;
}
.social-btn {
    color: #a9abd1;
    background: none;
    border: 2px solid #44499c;
    border-radius: 0.5rem;
    padding: 2px 10px;
    font-family: var(--font-family-display);
    font-size: 16px;
    margin-right: 0.5rem;
    cursor: pointer;
}
a {
    text-decoration: none;
}
@media screen and (min-width: 700px) {
    .my-info {
        display: flex;
        justify-content: center;
        padding: 0 1rem 0.5rem 1rem;
        gap: 16px;
        align-items: center;
        padding-bottom: 1rem;
    }
}

@media screen and (min-width: 1100px) {
    .my-info {
        padding: 0 24rem 0.5rem 12rem;
    }
    .line {
        margin: auto 11.5rem;
    }
    .social-btns {
        margin: 0.7rem 12rem 0.5rem 11.5rem;
    }
}
