#root {
    --font-family-display: "Amaranth", sans-serif;
    --font-family-body: "Roboto", sans-serif;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}
body {
    background-color: #090d12;
    color: #ecedf5;
    overflow-x: hidden;
}
.header {
    font-family: var(--font-family-display);
}
.content {
    font-family: var(--font-family-body);
}
