@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

#root {
    --font-family-display: "Amaranth", sans-serif;
    --font-family-body: "Roboto", sans-serif;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}
body {
    background-color: #090d12;
    color: #ecedf5;
    overflow-x: hidden;
    margin: 0;
}
.header {
    font-family: var(--font-family-display);
}
.content {
    font-family: var(--font-family-body);
}
