#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    --font-family-display: "Grenze", serif;
    --font-family-body: "Roboto", sans-serif;
}
body {
    background-color: #b9c5a5;
    color: #131210;
}
.header {
    font-family: var(--font-family-display);
}
.content {
    font-family: var(--font-family-body);
}
