.header {
    margin-top: 6rem;
    text-align: center;
}
.header p {
    font-family: var(--font-family-body);
}

@media screen and (min-width: 700px) {
}

@media screen and (min-width: 1100px) {
    h1 {
        font-size: 4rem;
    }
}
