h1 {
    font-size: 3.5em;
    line-height: 1.1;
}
.header {
    margin-top: 6rem;
    text-align: center;
}
.header p {
    font-family: var(--font-family-body);
}
footer {
    background-color: #070a0d;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
}
.my-info {
    padding: 0 1rem 1rem 1rem;
    align-items: center;
    padding-bottom: 0.5rem;
}
.img-me {
    width: 80px;
}
.footer-text {
    font-size: 14px;
    font-family: var(--font-family-body);
    text-align: left;
    margin: 0;
    line-height: 1.5;
}
.line {
    height: 2px;
    background-color: #44499c;
    margin: auto 1rem;
}
.social-btns {
    margin: 1rem;
    text-align: left;
}
.social-btn {
    color: #a9abd1;
    background: none;
    border: 2px solid #44499c;
    border-radius: 0.5rem;
    padding: 2px 12px;
    font-family: var(--font-family-display);
    font-size: 18px;
    margin-right: 0.5rem;
    cursor: pointer;
}
a {
    text-decoration: none;
}
@media screen and (min-width: 700px) {
    .my-info {
        display: flex;
        justify-content: center;
        padding: 0 1rem 1rem 1rem;
        gap: 16px;
        align-items: center;
        padding-bottom: 1rem;
    }
}

@media screen and (min-width: 1100px) {
    h1 {
        font-size: 4rem;
    }
    .my-info {
        padding: 0 24rem 1rem 12rem;
    }
    .line {
        margin: auto 11.5rem;
    }
    .social-btns {
        margin: 1rem 12rem 0.5rem 11.5rem;
    }
}
